{% extends 'base.html' %}

{% block page_title %}Send Email{% endblock %}
{% block head_js %}
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript">
    (function() {
        emailjs.init("user_r60kWytnQvPHPppC4sqRT");
    })();
</script>
{% endblock %}
{% block profile_image %}
<div class="mr-sm-2">
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle">
    <span>Hi, {{userprofile.nickname}}</span>
    {% endif %}
</div>
{% endblock %}

{% block page_header %}Send Email to {{appeal.org}}{% endblock %}

{% block page_contents %}
<div class="center-txt">
    {% if appeal.org.image %}
    <img src="{{ MEDIA_URL }}{{appeal.org.image}}" class="img-circle">
    {% endif %}
    {% if owner %}
    <p class="center-txt">You cannot send an email to yourself as the owner of <strong>{{appeal.org}}</strong>.</p>
    {% else %}
    <p class="center-txt">Whether it be for further information, how to get involved and volunteer or simply send well wishes, please 
        send an email about the {{appeal.title}} to the contact of <strong>{{appeal.org}}</strong>, who would love to hear from you.</p>
    {% endif %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="main-area col-12">
            <div class="col-offset-1 col-10">
                <div class="single-card card-style">
                    <form id="emailForm" onsubmit="sendEmail(this);" method="POST">
                    {% csrf_token %}
                        <div class="card-body">
                            <div class="col-12">
                                <div class="center-txt">
                                    <h4 class="appeal-title">{{appeal.title}} for {{ appeal.org }}</h4>
                                    {% if appeal.image %}
                                    <img src="{{ MEDIA_URL }}{{appeal.image}}" class="img-circle">
                                    {% endif %}
                                </div>
                                <input type="text" name="orgEmail" class="form-control" id="orgEmail" value="{{appeal.org}}" disabled hidden/>
                                <input type="text" name="appealEmail" class="form-control" id="appealEmail" value="{{appeal.title}}" disabled hidden/>
                                <input type="email" name="toEmail" class="form-control" id="toEmail" value="{{appeal.author.email}}" disabled hidden/>
                                <input type="email" name="fromEmail" class="form-control" id="fromEmail" value="{{request.user.email}}" disabled hidden/>
                                <input type="text" name="fromName" class="form-control" id="fromName" value="{{request.user}}" disabled hidden/>
                                <label for="content">Enter message:</label><br>
                                <textarea id="contentEmail" class="form-control" placeholder="Your message here..." name="contentEmail" rows="15" cols="50" required></textarea>
                                <br>
                                <p>An email will be sent to the registered email of {{appeal.org}} owner, with the message you qrite below and your contact email address.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            {% if not owner %}
                            <button id="submitEmail" type="submit" class="btn btn-success">Send Email</button>
                            {% endif %}
                            <a href="{{ previous }}" class="btn btn-danger">Go Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
