/*---------- Copyright Symbol --------------------------*/
.sml-copyright {
    font-size: 0.75em;
}

/*---------- Progress Bars -----------------------------*/
.progress {
    position: relative;
    height: 25px;
    width: 100%;
    overflow: unset;
}

.progress-bar {
    width: 100%;
    border-radius: 5px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 700;
    padding: 3px 5px 2px 5px;
    color: rgb(0, 170, 245);
    border-radius: 5px;
}

.progress-section {
    margin: 5px 5px;
}