{% extends 'base.html' %}
{% load static %}
{% block page_title %}All Appeals{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
  {% if userprofile %}
  {% if userprofile.profile_picture %}
  <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle"
    alt="{{userprofile.nickname}} profile picture">
  {% endif %}
  <span>Hi, {{userprofile.nickname}}</span>
  {% endif %}
</div>
{% endblock %}

{% block page_header %}<h3 class="appeal-title"><strong>All our Appeals</strong></h3>{% endblock %}

{% block page_contents %}
<div class="container">
  <div class="center-txt">
    <p>Search our appeals by tags words, by viewing the map and clicking on one locally or further afield to read more
      about
      the
      project. </p>
    <p>Please view our appeals and donate to one that you identify the most with, you will be helping a small charity or
      community project. We help them save money on marketing campaigns, ensuring that all the money raised goes to the
      important things that charities/community projects really need to spend their money on.</p>
    <p class="hidden-lrg">See all the appeals on a <a href="#map">map here</a>.</p>
    {% if user.is_authenticated %}
    {% if hasOrg %}
    <p>If you would like to create an appeal, please <a href="{% url 'createappeal' %}">create appeal here</a>.</p>
    {% else %}
    <p>To create an appeal you must have a registered charity or community project.</p>
    <p>If you havent registered an charity or community project, please <a href="{% url 'registerorg' %}">register
        here</a>.
    </p>
    {% endif %}
    {% else %}
    <p>To donate you must be a registered user. If you havent registered already, please <a
        href="{% url 'register' %}">register here</a> to donate.</p>
    {% endif %}
    <p>Thank you for your generosity.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row swappable">
    <div class="col-lg-4 col-md-8 col-sm-12">
      <h3 class="appeal-title">Appeal Locations</h3>
      <div class="card">
        {% if logged_in %}
        <div id="map" title="Click on an appeal to view its details" name="Auth-User-Map"></div>
        {% else %}
        <div id="map" title="Click on an appeal to view its details"></div>
        {% endif %}
      </div>
      <br>
      {% if orders.count > 0 %}
      <div class="container-fluid">
        <h5 class="appeal-title">Recent Donor Messages</h5>
        <div class="col-12 scroll">
          {% for order in orders %}
          {% if order.successful %}
          <div class="col-12 donor-message">
            <p>{% if order.userprofile.profile_picture and not order.anonymous %}
              <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.userprofile.profile_picture}}"
                  alt="{{userprofile.nickname}} profile picture"></a>
              {% elif order.appeal.image %}
              <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.appeal.image}}" class="img-circle"
                  alt="{{order.appeal.title}} appeal picture"></a>
              {% elif order.org.image %}
              <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.org.image}}" class="img-circle"
                  alt="{{org.organisation}} brand picture"></a>
              {% else %}
              <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                <img class="sml-img-circle" src="{% static 'img/donate640.png' %}" class="img-circle"
                  alt="Donate Now Badge"></a>
              {% endif %}
              <strong>{{order.org.organisation}}</strong> received <strong>£{{order.amount}}</strong>, on
              {{order.created_date|date:'d/M/Y'}}
              from
              {% if order.anonymous %}
              <strong>Anonymous</strong></p>
            {% else %}
            <strong>{{order.userprofile.nickname}}</strong></p>
            {% endif %}
            <p>{{order.comment}}</p>
          </div>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="title-filter">
        <h3 class="appeal-title">All Appeals</h3>
        <div class="dropdown">
          <button id="filter" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Filters</button>
          <div class="dropdown-menu">
            {% if not user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'register' %}">Register first</a>
            {% else %}
            <a class="dropdown-item" name="low-high" href="{% url 'showallappeals' %}?filter=money_target">Price
              low-high</a>
            <a class="dropdown-item" name="high-low" href="{% url 'showallappeals' %}?filter=-money_target">Price
              high-low</a>
            <a class="dropdown-item" name="newest" href="{% url 'showallappeals' %}?filter=-created_date">Date newest
              first</a>
            <a class="dropdown-item" name="oldest" href="{% url 'showallappeals' %}?filter=created_date">Date oldest
              first</a>
            <a class="dropdown-item" href="{% url 'showallappeals' %}">None</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="appeals-container-fluid">
        {% for appeal in all_appeals %}
        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
          <div class="card card-style">
            <div class="card-body">
              <h3 class="center-txt">{{appeal.title}} for {{ appeal.org }}</h3>
              <div class="center-txt">
                {% if appeal.image %}
                <img src="{{ MEDIA_URL }}{{appeal.image}}" class="img-circle"
                  alt="{{order.appeal.title}} appeal picture">
                {% endif %}
              </div>
              <h6>Target: £{{ appeal.money_target }} by {{ appeal.target_date| date:"d/m/Y" }}</h6>
              <p class="scroll">Bio: {{ appeal.bio|truncatewords:30}}</p>
              <p>Tags:
                {% for tag in appeal.tags.all %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </p>
              <p>Started on: {{ appeal.created_date| date:"d/m/Y" }}</p>
              <h6>Total Raised: £{{ appeal.money_raised }}</h6>
            </div>
            <div class="card-footer">
              {% if user.is_authenticated %}
              <a href="{% url 'singleappeal' %}?id={{ appeal.id }}&next={{ request.path|urlencode }}"
                class="btn btn-info">View</a>
              {% else %}
              <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="btn btn-info">View</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if all_appeals.has_other_pages %}
      <div class="col-12 paginate-center">
        <ul class="pagination">
          {% if all_appeals.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ all_appeals.previous_page_number }}">&laquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in all_appeals.paginator.page_range %}
          {% if all_appeals.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if all_appeals.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ all_appeals.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
      {% if search %}
      <p class="center-txt">Your search returned <strong>{{ all_appeals|length }}</strong> results.</p>
      {% endif %}
      {% if no_search_back is True %}
      <p class="center-txt">There are no search results with your search: {{ search }}</p>
      <p class="center-txt">Please try another search.</p>
      {% endif %}

      {% if not user.is_authenticated %}
      {% if not search %}
      <p class="center-txt">These are our most recent appeals, <a href="{% url 'register' %}">register here</a>, to view
        all our appeals.</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<!-- Google Maps -->
<script
  src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMSBI47x89t6fo3jmYZYfFuxJPfXCb5eM&callback=getAppealsMapData"></script>
<script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
{% endblock %}