{% extends 'base.html' %}

{% block page_title %}Create Appeal{% endblock %}

{% block page_header %}Create Appeal Page{% endblock %}

{% block page_contents %}
{% if hasOrg %}
<p>Create an appeal her for your charity or community project.</p>
<p>Good luck fund raising, dont forget to share you appeal so people know and can make donations.</p>
{% else %}
<p>Only Charitable organisations and community projects may fund raise.</p>
<p>You haven't registered an organisationwith us, please <a href="{% url 'registerorg' %}">register one here</a>.</p>
{% endif %}

    <form method="POST" action="{% url 'createappeal' %}">
        {% csrf_token %}
        <br>
        {{ form.as_p }}
        <br>
        <p>If you are unsure of your Latitude and Longitude, put your address/postcode in on <a href="https://www.latlong.net/" target="_blank">this site</a>.</p>
        <br>
        <button type="submit">Create Appeal</button>
    </form>

{% endblock %}