{% extends 'base.html' %}
{% load mathfilters %}
{% block page_title %}{{appeal.title}}{% endblock %}

{% block page_header %}Appeal for {{appeal.org}}{% endblock %}

{% block page_contents %}

<p>Please read about our appeal below and donate what you can afford helping the beneficaries of {{appeal.org}}.</p>
<p>Thank you for your generosity.</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="col-offset-1 col-10">
                <div class="card card-style">
                    <div class="card-body">
                        <div class="col-12">
                            <form method="POST" action="{% url 'editappeal' %}?id={{ instance.id }}&next={{ previous }}">
                                {% csrf_token %}
                                <br>
                                {{ form.as_p }}
                                <br>
                                <p>If you are unsure of your Latitude and Longitude, put your address/postcode in on <a
                                        href="https://www.latlong.net/" target="_blank">this site</a>.</p>
                                <br>
                                <button type="submit" class="btn btn-success">SAVE</button>
                                <a href="{{ previous }}" class="btn btn-warning">CANCEL</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}