{% extends 'base.html' %}
{% load mathfilters %}
{% block page_title %}{{appeal.title}}{% endblock %}

{% block page_header %}Appeal for {{appeal.org}}{% endblock %}

{% block page_contents %}

<p>Please read about our appeal below and donate what you can afford helping the beneficaries of {{appeal.org}}.</p>
<p>Thank you for your generosity.</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="col-offset-1 col-10">
        <div class="card card-style">
          <div class="card-body">
            <div class="col-12">
              <h3>{{appeal.title}} for {{ appeal.org }}</h3>
              <h5>Target: £{{ appeal.money_target }} by {{ appeal.target_date| date:"d/m/Y" }}</h5>
              <p>{{ appeal.text }}</p>
              <ul>
                {% for tag in appeal.tags.all %}
                <li>{{ tag }}</li>
                {% endfor %}
              </ul>
              <p>Started on: {{ appeal.created_date| date:"d/m/Y" }}</p>
              <h5>Total Raised: £{{ appeal.money_raised }}</h5>
            </div>
            <div class="col-12">
              <div class="row progress-section">
                <div class="progress">
                  {% if calcPercent <= 100 %}
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100" style="width:{{calcPercent}}%">
                    <span class="sr-only"> {{calcPercent}}% complete</span>
                  </div>
                  <span class="progress-type">% of Total</span>
                  {% else %}
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100" style="width:100%">
                    <span class="sr-only"> {{calcPercent}}% complete</span>
                  </div>
                  <span class="progress-type">Amazing {{calcPercent|sub:100}}% more raised </span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-footer">
              {% if user.is_authenticated %}
              <a href="#" class="btn btn-info">DONATE</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}