{% extends 'base.html' %}

{% block page_title %}{{appeal.title}}{% endblock %}

{% block page_header %}Appeal for {{appeal.org}}{% endblock %}

{% block page_contents %}

<p>Please read about our appeal below and donate what you can afford helping the beneficaries of {{appeal.org}}.</p>
<p>Thank you for your generosity.</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="col-offset-1 col-10">
                <div class="card card-style">
                  <div class="card-body">
                    <h3>{{appeal.title}} for {{ appeal.org }}</h3>  
                    <h5>Target: £{{ appeal.money_target }} by {{ appeal.target_date }}</h5>
                    <p>{{ appeal.text }}</p>
                    <p>Started on: {{ appeal.created_date }}.</p>
                    <h5>Total Raised: £{{ appeal.money_raised }}.</h5>
                  </div>
                  <div class="card-footer">
                    {% if user.is_authenticated %}
                    <a href="#" class="btn btn-info">DONATE</a>
                    {% endif %}
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}