{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block page_title %}{{appeal.title}}{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
  {% if userprofile %}
  {% if userprofile.profile_picture %}
  <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle"
    alt="{{userprofile.nickname}} profile picture">
  {% endif %}
  <span>Hi, {{userprofile.nickname}}</span>
  {% endif %}
</div>
{% endblock %}

{% block page_header %}<h3 class="appeal-title"><strong>Appeal for {{appeal.org}}</strong></h3>{% endblock %}

{% block page_contents %}
<div class="center-txt">
  {% if appeal.org.image %}
  <img src="{{ MEDIA_URL }}{{appeal.org.image}}" class="img-circle" alt="{{org.organisation}} brand picture">
  {% endif %}
  <p class="center-txt">Please read about our appeal below and donate what you can afford, helping the beneficaries of
    <strong>{{appeal.org}}</strong>.</p>
  <p class="center-txt">Thank you for your generosity.</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="main-area col-12">
      <div class="col-offset-1 col-10">
        <div class="single-card card-style">
          <div class="card-body">
            <div class="col-12">
              <div class="center-txt">
                <h4 class="appeal-title">{{appeal.title}} for {{ appeal.org }}</h4>
                {% if appeal.image %}
                <img src="{{ MEDIA_URL }}{{appeal.image}}" class="img-circle"
                  alt="{{order.appeal.title}} appeal picture">
                {% endif %}
              </div>
              <h5>Target: £{{ appeal.money_target }} by {{ appeal.target_date| date:"d/m/Y" }}</h5>
              <p class="scroll">Bio: {{ appeal.bio }}</p>
              <p>To search for our appeal use one of these tags:
                {% for tag in appeal.tags.all %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </p>
              <p>Started on: <strong>{{ appeal.created_date| date:"d/m/Y" }}</strong></p>
              <h5>Total Raised: £{{ appeal.money_raised }}</h5>
            </div>
            <div class="col-12">
              <div class="row progress-section">
                <div class="progress">
                  {% if calcPercent <= 100 %}
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"
                    style="background-image: linear-gradient(to right, rgb(255, 0, 0) {{calcPercent}}%, rgb(233, 236, 239) {{calcPercent|add:1}}%);">
                    <span class="sr-only"> {{calcPercent}}% complete</span>
                  </div>
                  <span class="progress-type progress-incomplete">{{calcPercent}}% Raised</span>
                  {% else %}
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100" style="width:100%">
                    <span class="sr-only"> {{calcPercent}}% complete</span>
                  </div>
                  <span class="progress-type progress-complete">Amazing {{calcPercent|sub:100}}% more raised </span>
                  {% endif %}
                </div>
              </div>
              <h6 class="appeal-title">Donor Messages</h6>
              <div class="col-12 scroll-100">
                {% for order in orders %}
                {% if order.successful %}
                <div class="col-12 donor-message">
                  <p>
                    {% if order.userprofile.profile_picture and not order.anonymous %}
                    <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                      <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.userprofile.profile_picture}}"
                        alt="{{userprofile.nickname}} profile picture"></a>
                    {% elif not order.userprofile.profile_picture or order.anonymous %}
                    <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                      <img class="sml-img-circle" src="{% static 'img/donate640.png' %}" class="img-circle"
                        alt="Donate Now Badge"></a>
                    {% endif %}
                    <strong>{{order.org.organisation}}</strong> received <strong>£{{order.amount}}</strong>, on
                    {{order.created_date|date:'d/M/Y'}} from
                    {% if order.anonymous %}
                    <strong>Anonymous</strong></p>
                  {% else %}
                  <strong>{{order.full_name}}</strong></p>
                  {% endif %}
                  <p>{{order.comment}}</p>
                </div>
                <br>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card-footer">
            {% if user.is_authenticated %}
            <a href="{% url 'makepayment' %}?id={{ appeal.id }}&next={{ request.path|urlencode }}?id={{ appeal.id }}"
              class="btn btn-info">Donate</a>
            <a href="{% url 'emailOrg' %}?id={{ appeal.id }}&next={{ request.path|urlencode }}?id={{ appeal.id }}"
              class="btn btn-info">Contact</a>
            {% endif %}
            {% if owner %}
            <a href="{% url 'editappeal' %}?id={{ appeal.id }}&next={{ request.path|urlencode }}?id={{ appeal.id }}"
              class="btn btn-warning">Edit</a>
            {% endif %}
            <a href="{{ previous }}" class="btn btn-danger">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}