{% extends 'base.html' %}

{% block page_title %}About{% endblock %}

{% block page_header %}About Charity Funding{% endblock %}

{% block page_contents %}

<p>
    Here at CharityFund<span class="sml-copyright">&copy;</span> we aim to serve as a platform for small and medium sized charities and community projects so
    they can set up appeals, receive donations from more than there usual base, without the need to spend lots of money on marketing.
    Simply share the link for the appeal on your social media and let the donations come in.
</p>
<p>
    By giving them a platform to accept donations we can ensure that mass marketing campaigns dont eat into the money
    that should really be going
    to the people and projects that deserve them.
</p>
<p>
    If you are just someone who loves to support charity or an individual who wishes to add an appeal for a charity or community project,
    then we are the place for you.<br>
    All you have to do is register with our site to make a donation, if you would like to start an appeal, once logged in you can register
    your organisation and then get started creating an appeal.
</p>
<p>Thank you for your generosity.</p>

{% endblock %}