{% extends 'base.html' %}
{% load static %}
{% block page_title %}All Your Info{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
{% if userprofile %}
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle">
    {% endif %}
    <span>Hi, {{userprofile.nickname}}</span>
{% endif %}
</div>
{% endblock %}

{% block page_header %}All your Organisation and Appeals Information{% endblock %}

{% block page_contents %}
<p>Here you can view all your information relating to {{org.organisation}}.</p>
<div class="container">
    <div class="appeals-container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="card card-style">
                <div class="card-body center-txt">
                    <h3>{{org.organisation}}</h3>
                    <div class="center-txt">
                        {% if org.image %}
                        <img src="{{ MEDIA_URL }}{{org.image}}" class="img-circle">
                        {% endif %}
                    </div>
                    <p class="scroll">Bio: {{ org.bio }}</p>
                    <a class="btn btn-info" href="{% url 'editorg' %}">Edit Organisation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="appeal-title">Appeal Locations</h3>
            <div class="card">
                {% if logged_in %}
                <div id="map" title="Click on an appeal to view its details" name="Org-User-Map"></div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="title-filter">
                <h3 class="appeal-title">All Appeals</h3>
                <div class="dropdown">
                    <button id="filter" type="button" class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown">Filters</button>
                    <div class="dropdown-menu">
                        {% if not user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'register' %}">Register first</a>
                        {% else %}
                        <a class="dropdown-item" name="low-high"
                            href="{% url 'showallappeals' %}?filter=-money_target">Price
                            low-high</a>
                        <a class="dropdown-item" name="high-low"
                            href="{% url 'showallappeals' %}?filter=money_target">Price
                            high-low</a>
                        <a class="dropdown-item" name="newest"
                            href="{% url 'showallappeals' %}?filter=-created_date">Date newest
                            first</a>
                        <a class="dropdown-item" name="oldest"
                            href="{% url 'showallappeals' %}?filter=created_date">Date oldest
                            first</a>
                        <a class="dropdown-item" href="{% url 'showallappeals' %}">None</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="appeals-container-fluid">
                {% for appeal in all_appeals %}
                <div class="col-lg-6 col-md-12 col-sm-12 mb-2">
                    <div class="card card-style">
                        <div class="card-body">
                            <h3>{{appeal.title}} for {{ appeal.org }}</h3>
                            <h6>Target: £{{ appeal.money_target }} by {{ appeal.target_date| date:"d/m/Y" }}</h6>
                            <p class="scroll">Bio: {{ appeal.bio|truncatewords:30}}</p>
                            <p>Tags:
                                {% for tag in appeal.tags.all %}
                                <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <p>Started on: {{ appeal.created_date| date:"d/m/Y" }}</p>
                            <h6>Total Raised: £{{ appeal.money_raised }}</h6>
                        </div>
                        <div class="card-footer">
                            {% if user.is_authenticated %}
                            <a href="{% url 'singleappeal' %}?id={{ appeal.id }}&next={{ request.path|urlencode }}"
                                class="btn btn-info">View</a>
                            {% else %}
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="btn btn-info">View</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="col-12 scroll">
        <h5 class="appeal-title">Recent Donor Messages</h5>
        {% for order in orders %}
        {% if order.successful %}
        <div class="col-12">
            <p>{% if order.user.userprofile.profile_picture and not order.anonymous %}
                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.user.userprofile.profile_picture}}"
                    class="img-circle">
                {% elif order.appeal.image %}
                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.appeal.image}}" class="img-circle">
                {% elif order.org.image %}
                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.org.image}}" class="img-circle">
                {% elif order.org.image %}
                <img class="sml-img-circle" src="{% static 'img/donate640.png' %}" class="img-circle">
                {% endif %}
                <strong>{{order.org.organisation}}</strong> received <strong>£{{order.amount}}</strong>, on
                {{order.created_date|date:'d/M/Y'}}
                from
                {% if order.anonymous %}
                <strong>Anonymous</strong></p>
            {% else %}
            <strong>{{order.full_name}}</strong></p>
            {% endif %}
            <p>{{order.comment}}</p>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
{% block script %}
<!-- Google Maps -->
<script
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMSBI47x89t6fo3jmYZYfFuxJPfXCb5eM&callback=getAppealsMapData"></script>
<script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
{% endblock %}