{% extends 'base.html' %}
{% load static %}
{% block page_title %}All Your Info{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
    {% if userprofile %}
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle"
        alt="{{userprofile.nickname}} profile picture">
    {% endif %}
    <span>Hi, {{userprofile.nickname}}</span>
    {% endif %}
</div>
{% endblock %}

{% block page_header %}<h3 class="appeal-title"><strong>All your Organisation and Appeals Information</strong></h3>
{% endblock %}

{% block page_contents %}
<div class="center-txt">
    <p>Here you can view all your information relating to {{org.organisation}}.</p>
    <p class="hidden-lrg">See all your appeals on a <a href="#map">map here</a>.</p>
</div>
<div class="container">
    <div class="appeals-container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="card card-style">
                <div class="card-body center-txt">
                    <h3>{{org.organisation}}</h3>
                    <div class="center-txt">
                        {% if org.image %}
                        <img src="{{ MEDIA_URL }}{{org.image}}" class="img-circle"
                            alt="{{org.organisation}} brand picture">
                        {% endif %}
                    </div>
                    <br>
                    <p class="scroll"><strong>Bio:</strong> {{ org.bio }}</p>
                    <a class="btn btn-info edit-org-btn" href="{% url 'editorg' %}">Edit Organisation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row swappable">
        <div class="col-lg-4 col-md-8 col-sm-12">
            <h3 class="appeal-title">Appeal Locations</h3>
            <div class="card">
                {% if logged_in %}
                <div id="map" title="Click on an appeal to view its details" name="Org-User-Map"></div>
                {% endif %}
            </div>
            <br>
            {%if orders.count > 0 %}
            <div class="container-fluid">
                <h5 class="appeal-title">Recent Donor Messages</h5>
                <div class="col-12 scroll">
                    {% for order in orders %}
                    {% if order.successful %}
                    <div class="col-12 donor-message">
                        <p>{% if order.userprofile.profile_picture and not order.anonymous %}
                            <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.userprofile.profile_picture}}"
                                    alt="{{userprofile.nickname}} profile picture"></a>
                            {% elif order.appeal.image %}
                            <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.appeal.image}}"
                                    class="img-circle" alt="{{order.appeal.title}} appeal picture"></a>
                            {% elif order.org.image %}
                            <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                                <img class="sml-img-circle" src="{{ MEDIA_URL }}{{order.org.image}}" class="img-circle"
                                    alt="{{org.organisation}} brand picture"></a>
                            {% else %}
                            <a href="{% url 'singleappeal' %}?id={{ order.appeal.id }}&next={{ request.path|urlencode }}">
                                <img class="sml-img-circle" src="{% static 'img/donate640.png' %}" class="img-circle"
                                    alt="Donate Now Badge"></a>
                            {% endif %}
                            <strong>{{order.org.organisation}}</strong> received <strong>£{{order.amount}}</strong>, on
                            {{order.created_date|date:'d/M/Y'}}
                            from
                            {% if order.anonymous %}
                            <strong>Anonymous</strong></p>
                        {% else %}
                        <strong>{{order.userprofile.nickname}}</strong></p>
                        {% endif %}
                        <p>{{order.comment}}</p>
                    </div>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="title-filter">
                <h3 class="appeal-title">All Appeals</h3>
                <div class="dropdown">
                    <button id="filter" type="button" class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown">Filters</button>
                    <div class="dropdown-menu">
                        {% if not user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'register' %}">Register first</a>
                        {% else %}
                        <a class="dropdown-item" name="low-high"
                            href="{% url 'showallappeals' %}?filter=money_target">Price
                            low-high</a>
                        <a class="dropdown-item" name="high-low"
                            href="{% url 'showallappeals' %}?filter=-money_target">Price
                            high-low</a>
                        <a class="dropdown-item" name="newest"
                            href="{% url 'showallappeals' %}?filter=-created_date">Date newest
                            first</a>
                        <a class="dropdown-item" name="oldest"
                            href="{% url 'showallappeals' %}?filter=created_date">Date oldest
                            first</a>
                        <a class="dropdown-item" href="{% url 'showallappeals' %}">None</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="appeals-container-fluid">
                {% for appeal in all_appeals %}
                <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div class="card card-style">
                        <div class="card-body">
                            <h3 class="center-txt">{{appeal.title}} by {{ appeal.org }}</h3>
                            <div class="center-txt">
                                {% if appeal.image %}
                                <img src="{{ MEDIA_URL }}{{appeal.image}}" class="img-circle"
                                    alt="{{order.appeal.title}} appeal picture">
                                {% endif %}
                            </div>
                            <h6>Target: £{{ appeal.money_target }} by {{ appeal.target_date| date:"d/m/Y" }}</h6>
                            <p class="scroll">Bio: {{ appeal.bio|truncatewords:30}}</p>
                            <p>Tags:
                                {% for tag in appeal.tags.all %}
                                <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <p>Started on: {{ appeal.created_date| date:"d/m/Y" }}</p>
                            <h6>Total Raised: £{{ appeal.money_raised }}</h6>
                        </div>
                        <div class="card-footer">
                            {% if user.is_authenticated %}
                            <a href="{% url 'singleappeal' %}?id={{ appeal.id }}&next={{ request.path|urlencode }}"
                                class="btn btn-info">View</a>
                            {% else %}
                            <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="btn btn-info">View</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if all_appeals.has_other_pages %}
            <div class="col-12 paginate-center">
                <ul class="pagination">
                    {% if all_appeals.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ all_appeals.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in all_appeals.paginator.page_range %}
                    {% if all_appeals.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if all_appeals.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ all_appeals.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<!-- Google Maps -->
<script
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMSBI47x89t6fo3jmYZYfFuxJPfXCb5eM&callback=getAppealsMapData"></script>
<script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
{% endblock %}