{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Change Password{% endblock %}

{% block page_header %}<h3 class="appeal-title"><strong>Change Password</strong></h3>{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
    {% if userprofile %}
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle"
        alt="{{userprofile.nickname}} profile picture">
    {% endif %}
    <span>Hi, {{userprofile.nickname}}</span>
    {% endif %}
</div>
{% endblock %}

{% block page_contents %}
<p>Change password for {{ request.user }}.</p>

<form method="POST" action="{% url 'changepassword' %}">
    {% csrf_token %}
    <br>
    {{ password_form | as_bootstrap }}
    <br>
    <br>
    <button class="btn btn-success" type="submit">Change Password</button>
    <a href="{% url 'edituserprofile' %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}