{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Change Password{% endblock %}

{% block page_header %}Change Password{% endblock %}

{% block page_contents %}
<p>Change password for {{ request.user }}.</p>

<form method="POST" action="{% url 'changepassword' %}">
    {% csrf_token %}
    <br>
    {{ password_form | as_bootstrap }}
    <br>
    <br>
    <button class="btn btn-success" type="submit">Change Password</button>
    <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}