{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
{% if userprofile %}
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle">
    {% endif %}
    <span>Hi, {{userprofile.nickname}}</span>
{% endif %}
</div>
{% endblock %}
{% block hero_header %}<h1 class="appeal-title"><strong>WELCOME TO CHARITY FUNDING</strong></h1>{% endblock %}
{% block page_header %}<h4 class="appeal-title">Helping, to help others...</h4>{% endblock %}

{% block page_contents %}
<div class="center-txt">
    <img class="hero-image" src="{% static 'img/hero-image.png' %}" alt="Charity funding picture">
    <br>
    <p class="appeal-title">Welcome to the new way to raise or donate funds to charity.</p>
</div>
{% endblock %}