{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle">
    {% endif %}
    <span>Hi, {{userprofile.nickname}}</span>
</div>
{% endblock %}

{% block page_header %}Welcome to Charity Funding{% endblock %}

{% block page_contents %}
<div>
    <p>Welcome to the new way to raise or donate funds to charity.</p>
    <p>We aim to help small charities and local community groups raise funds for their projects.</p>
</div>
{% endblock %}