{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Organisation{% endblock %}

{% block profile_image %}
<div class="mr-sm-2">
{% if userprofile %}
    {% if userprofile.profile_picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.profile_picture}}" class="img-circle" alt="{{userprofile.nickname}} profile picture">
    {% endif %}
    <span>Hi, {{userprofile.nickname}}</span>
{% endif %}
</div>
{% endblock %}

{% block page_header %}<h3 class="appeal-title"><strong>Organisation Registration Page</strong></h3>{% endblock %}

{% block page_contents %}
<p>Creat your charitable/community organisation here.</p>

<form method="POST" enctype="multipart/form-data" action="{% url 'registerorg' %}">
    {% csrf_token %}
    <br>
    {{ register_form | as_bootstrap }}
    <br>
    <br>
    <button class="btn btn-success" type="submit">Register</button>
    <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}